* {
    margin: 0%;
    padding: 0px;
}

.Cabeçalho-titulo {
    position: absolute;

    font-style: italic;
    text-align: center;
    font-size: 70px;
    transform: translateY(+55px);
}

.Cabeçalho-item {
    scroll-margin-top: 1%;
    font-style: italic;
    margin: 1mm;
    text-align: left;
    font-size:40px;
  display: flex;
    padding: 0%;
transform: translateY(-10px);

}

.cabeçalho-item {
font-style: italic;
letter-spacing: 1mm;
margin: 1mm;
padding: 3mm;
font-size: 48px;
display: flex;
transform: translateY(-13px)
}

.cabeçalho-lista {
    font-style: serif;
    margin: 1mm;
    background-image: none;
    font-size: 40px;
}

.caBeçalho-item{
font-size: 36px;
font-style: italic;
margin: 3mm;
letter-spacing: 1mm;
transform: translateY(-8px);

}

.cabeçalho-ITEM {
    margin: 1mm;
    display: flex;
    padding: 0%;
    background-image: none;
    font-size: 40px;
transform: translateY(-6px);
}

.Arepa {
    width: 30%;
}

.iTem-cabeçalho {
    margin: 1mm;
    background-image: none;
    font-size: 30px;
}

body {

    background-size: 100%;
    background-image: linear-gradient(#000000, #2e2e2e);
    color: rgb(255, 255, 255);
}

.Cabecalho-titulo {
    margin: 1mm;
    letter-spacing: 1mm;
    text-align: center;
    padding: 3mm;
    font-size: 30px;
}

.cabeçalho-bolo {
    width: 30%;
    height: 320px;
}


.CabeÇalho-bolo {
    margin: 1mm;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    padding: 3mm;
}

.CabeÇalho-titulo {
    margin: 1mm;
    padding: 3mm;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.Cabeçalho-lista {
    width: 420px;
    height: 300px
}

.Titulo {
    text-align: center;
    padding: 3mm;
    margin: 1mm;
  display: flex;
    font-style: italic;
    font-size: 40px;
}

.Cabeçalho-tituLo{
font-size: 30px;
display: flex;
margin: 1mm;
padding: 3mm;
background-image: none;
font-style: italic;
}

.Titulo-Valor{
text-align: center;
font-size: 60px;
margin: 1mm;
padding: 3mm;
font-style: italic;
}

.Primeiro{
font-size: 60px;
margin: 3mm;
padding: 1mm;
font-style: oblique;
transform: translateX(+250px);
display: block;
}

.Segundo{
font-size: 60px;
transform: translateY(+90px);
margin: 3mm;
padding: 1mm;
font-style: oblique;
}

.Segundo{
    transform: translateX(+800px);
}


